@media only screen and (max-width: 900px) {
    main {
        padding: 40px 0;
    }
    main h1 {
        padding:0 0 40px 0;
        font-size: 48px;
    }
    main h2 {
        padding:0 0 40px 0;
        font-size: 22px;
    }
    main ul li{
        padding: 8px 12px;
        font-size: 18px;
    }
    header nav {
        padding: 10px;
        font-size: 14px;
        font-family: var(--font-primary);
    }
    #mobile-social-links { display: block; }
    #desktop-social-links { display: none; }
    main p {
        padding: 8px 10px;
        font-size: 18px;
    }
    .mobil-fix-h2 {
        margin-top: 40px;
    }
}