@font-face {
    font-family: Gagalin;
    src: url(https://arakilian0.github.io/fonts/Gagalin/Gagalin-Regular.ttf);
}

:root {
    --color-primary: white;
    --color-secondary: #ff66c4;
    --font-primary: Gagalin, Helvetica, Arial;
    --font-secondary: Jost, Helvetica, Arial;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    background: inherit;
    list-style-type: none;
}

h1 {
    color: var(--color-secondary);
    font-size: 80px;
    font-family: var(--font-primary);
}
h2 {
    font-size: 32px;
    font-family: var(--font-secondary);
}